*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.MainContainer{
  padding:4%  12%;
  margin-top: 32px;

  width: 100%;
  height: 96vh;
  display: flex;
  align-items: center;
}
.productData{
  width: 50%;
}
.ProductPreview{
  width: 50%;
}

@media (max-width:992px){
  .MainContainer{
    padding: 4% 10%;
    flex-direction: column;
  }
  .ProductPreview{
    width: 100%;
  }
  .productData{
    width: 100%;
  }
}